-- CreateEnum
CREATE TYPE "SocialPlatform" AS ENUM ('facebook', 'instagram', 'x', 'googleBusiness');

-- CreateEnum
CREATE TYPE "PostingMode" AS ENUM ('review', 'auto', 'campaign');

-- CreateEnum
CREATE TYPE "QueueStatus" AS ENUM ('draft', 'approved', 'scheduled', 'posted', 'failed');

-- CreateTable
CREATE TABLE "SocialAutoposterSettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "brandVoice" TEXT,
    "postingMode" TEXT NOT NULL DEFAULT 'review',
    "frequency" TEXT,
    "allowedDays" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "timeWindowStart" TEXT,
    "timeWindowEnd" TEXT,
    "timezone" TEXT DEFAULT 'America/New_York',
    "enabledPlatforms" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "platformsEnabled" JSONB,
    "platformOverrides" JSONB,
    "contentPillarSettings" JSONB,
    "hashtagBankSettings" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SocialAutoposterSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SocialQueueItem" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "platform" "SocialPlatform" NOT NULL,
    "content" TEXT NOT NULL,
    "status" "QueueStatus" NOT NULL DEFAULT 'draft',
    "scheduledAt" TIMESTAMP(3),
    "postedAt" TIMESTAMP(3),
    "errorMessage" TEXT,
    "attemptCount" INTEGER NOT NULL DEFAULT 0,
    "metadata" JSONB,
    "contentTheme" TEXT,
    "contentHash" TEXT,
    "contentFingerprint" TEXT,
    "reason" TEXT,
    "isSimilar" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SocialQueueItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SocialDeliveryAttempt" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "queueItemId" TEXT NOT NULL,
    "platform" "SocialPlatform" NOT NULL,
    "success" BOOLEAN NOT NULL,
    "errorMessage" TEXT,
    "responseData" JSONB,
    "attemptedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SocialDeliveryAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "SocialAutoposterSettings_userId_key" ON "SocialAutoposterSettings"("userId");

-- CreateIndex
CREATE INDEX "SocialAutoposterSettings_userId_idx" ON "SocialAutoposterSettings"("userId");

-- CreateIndex
CREATE INDEX "SocialQueueItem_userId_idx" ON "SocialQueueItem"("userId");

-- CreateIndex
CREATE INDEX "SocialQueueItem_status_idx" ON "SocialQueueItem"("status");

-- CreateIndex
CREATE INDEX "SocialQueueItem_userId_status_idx" ON "SocialQueueItem"("userId", "status");

-- CreateIndex
CREATE INDEX "SocialQueueItem_scheduledAt_idx" ON "SocialQueueItem"("scheduledAt");

-- CreateIndex
CREATE INDEX "SocialQueueItem_userId_scheduledAt_idx" ON "SocialQueueItem"("userId", "scheduledAt");

-- CreateIndex
CREATE INDEX "SocialQueueItem_userId_platform_contentHash_idx" ON "SocialQueueItem"("userId", "platform", "contentHash");

-- CreateIndex
CREATE INDEX "SocialQueueItem_contentHash_idx" ON "SocialQueueItem"("contentHash");

-- CreateIndex
CREATE INDEX "SocialDeliveryAttempt_userId_idx" ON "SocialDeliveryAttempt"("userId");

-- CreateIndex
CREATE INDEX "SocialDeliveryAttempt_queueItemId_idx" ON "SocialDeliveryAttempt"("queueItemId");

-- CreateIndex
CREATE INDEX "SocialDeliveryAttempt_userId_attemptedAt_idx" ON "SocialDeliveryAttempt"("userId", "attemptedAt");

-- CreateIndex
CREATE INDEX "SocialDeliveryAttempt_success_idx" ON "SocialDeliveryAttempt"("success");

-- AddForeignKey
ALTER TABLE "SocialAutoposterSettings" ADD CONSTRAINT "SocialAutoposterSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SocialQueueItem" ADD CONSTRAINT "SocialQueueItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SocialDeliveryAttempt" ADD CONSTRAINT "SocialDeliveryAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SocialDeliveryAttempt" ADD CONSTRAINT "SocialDeliveryAttempt_queueItemId_fkey" FOREIGN KEY ("queueItemId") REFERENCES "SocialQueueItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

